		<div class="add_stock_sell_wrp flex-cntr">
			<div class="new_stock_box">

				<ul class="add_stock_box_form">

					<li class="add_stock_form_list new_stock_box_header_description">
						<span> {{data.title}} əlavə edin</span>
					</li>

					<div class="row">
						<div class="col-w50">
							{% if data.fields.name %}
							<li class="add_stock_form_list auto-cmplt-parent">
								<span class="add_stock_description">Malın adı</span>
								<input type="text" autocomplete="off" class="add_stock_input add_stock_name_action auto-cmplt-input stock_auto_compelete" data-name="name">
								{{ include ('/component/search/search_list_wrapper.twig', {auto_attr: 'form'}) }}
							</li>
							{% endif %}
							{% if data.fields.imei %}							
							<li class="add_stock_form_list">
								<span class="add_stock_description">IMEI</span>
								<input type="text" autocomplete="off" class="add_stock_input  add_stock_imei_action">
							</li>
							{% endif %}

						<div class="row">
						{% if data.fields.first_price %}
							<li class="add_stock_form_list row-list">
								<span class="add_stock_description">Mayası</span>
								<input type="text" autocomplete="off" class="add_stock_input add_stock_first_price_action add_stock_fpice_style input_preg_action" placeholder="0">
							</li>
						{% endif %}
						{% if data.fields.count %}	
							<li class="add_stock_form_list row-list">
								<span class="add_stock_description">MALIN SAYI</span>
								<input type="text" class="add_stock_input add_stock_count input_preg_action add_stock_count_style" autocomplete="off" placeholder="0">						
							</li>
						{% endif %}	
						{% if data.fields.first_price %}
								<input type="hidden" class="add_stock_input add_stock_count not_resetbl" value="1">	
						{% endif %}
						{% if data.fields.second_price %}
							<li class="add_stock_form_list row-list">
								<span class="add_stock_description">Satış qiyməti</span>
								<input type="text" autocomplete="off" class="add_stock_input add_stock_second_price_action add_stock_spice_style input_preg_action" placeholder="0">
							</li>
						{% endif %}
						</div>		
				    </div>		
						<div class="col-w50">
						{% if data.fields.category %}
							<li class="add_stock_form_list auto-cmplt-parent">
								<span class="add_stock_description">KATEGORIYA</span>
								<input type="text" autocomplete="off" class="add_stock_input add_stock_provider_action auto-cmplt-input stock_auto_compelete" data-name="category">
								{{ include ('/component/search/search_list_wrapper.twig', {auto_attr: 'form'}) }}
							</li>	
						{% endif %}
						{% if data.fields.provider %}
							<li class="add_stock_form_list auto-cmplt-parent">
								<span class="add_stock_description">Təchizatçı</span>
								<input type="text" autocomplete="off" class="add_stock_input add_stock_provider_action auto-cmplt-input stock_auto_compelete" data-name="provider">
								{{ include ('/component/search/search_list_wrapper.twig', {auto_attr: 'form'}) }}
							</li>						
						{% endif %}

						{% if data.ls_filter.show %}
							<div class="row">
								{{ block("form_filter_add", "/component/filter/filter_list.twig") }}
							</div>
						</div>
						{% endif %}

						<li class="add_stock_form_list submit_list">
							<a href="javascript:void(0)" class="add_stock_submit btn add_stock_style click">
								<span class="button-text">Yüklə</span>
								<span class="button-icon-i button-icon-right">
									<i class="las la-plus"></i>
								</span>
							</a>
						</li>
					</div>

				</ul>

			</div>
		</div>