{% block terminal_order %}
	<div class="module_order_wrp ls-custom-scrollbar">
		<ul class="modal_order_form" data-order-id="{{res.user.id}}">
			{{ block('include_block', '/component/modal/include_modal_fields.twig') }}
		</ul>
	</div>
{% endblock %}



{% block edit_product %}
<div class="delete_stock_module">
	<div class="receipet_success">
		<a><img src="img/icon/print-success.png"></a>
	</div>
	<div class="delete_stock_form">
		<span>Silmək istədiyinizə əminsiniz ?</span>
		<div class="module_delete_btn_link">
			<a href="javascript:void(0)" class="module_delete_btn" id="{{user.id}}"> Sil</a>
			<a href="javascript:void(0)" class="module_delete_btn_cancle"> Ləğv et</a>
		</div>
	</div>
</div>

<div class="module_order_wrp ls-custom-scrollbar">
	<ul class="modal_order_form" data-order-id="{{res.user.id}}">
		{{ block('include_block', '/component/modal/include_modal_fields.twig') }}
	</ul>
</div>
{% endblock %}

