

<li class="select-items">
	<a href="javascript:void(0)" 
	   class="select-item select-search-item {{link_modify_class}} search-item area-closeable selectable-search-item" 
	   value="{{data}}" 
	   {% if data_sort_value %} data-sort-value="{{data}}" {% endif %} 
	   {% if data_sort %} data-sort="{{data_sort}}"{% endif %} 
	>
		<span class="mark button-icon-i button-icon-left search-item-icon ">
			<i class="las la-search"></i>
		</span>
		<span class="widget__button-text">{{data}}</span>
		<span class="widget__mark">{{mark}}</span>
	</a>									
</li>	
